<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>WAF管理中心</title>

    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
</head>
<body class="font_family" style="background: #333333;background-image: url(../image/back.png);">
    <nav class="navbar navbar-default navbar-static-top font_family" id="top_link">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand white" href="#">WAF管理中心</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if nav_statu == 0 %}
                        <li class="active"><a href="/index.html">首页</a></li>
                    {% else %}
                        <li><a href="/index.html">首页</a></li>
                    {% endif %}
                    {% if nav_statu == 1 %}
                        <li class="active"><a href="/xss.html">XSS预警系统</a></li>
                    {% else %}
                        <li><a href="/xss.html">XSS预警系统</a></li>
                    {% endif %}
                    {% if nav_statu == 2 %}
                        <li class="active"><a href="/sql_inject.html">SQL注入防御系统</a></li>
                    {% else %}
                        <li><a href="/sql_inject.html">SQL注入防御系统</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li><a href="javascript:">当前身份：管理员</a></li>
                    <li><a href="javascript:">注销</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>